<br/>
<div class="calculator-bounding-box">
  <div class="calculator-container col-md-12">
    <%= render('calculators/concerns/previous_trials', previous_trials: @previous_trials) %>
    <hr/>
    <%= render('calculators/concerns/calculator') %>
    <hr/>
    <button class="btn btn-block btn-danger text-center js-clear-previous-trials">Clear Attempts</button>
  </div>
</div>
