<div class="table-bordered calculator">
  <div class="row">
    <div class="col-md-12">
      <%= text_field_tag(:expression, '', class: 'text-right form-control js-calculator-expression') %>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-clear-btn">C</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-inverse-btn">+/-</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-division-btn">รท</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-multiplication-btn">x</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">7</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">8</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">9</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-subtraction-btn">-</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">4</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">5</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">6</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-addition-btn">+</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">1</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">2</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">3</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-sqrt-btn">sqrt</button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">0</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">00</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-integer-btn">.</button>
    </div>
    <div class="col-md-3">
      <button class="btn btn-default btn-block js-calculator-equals-btn">=</button>
    </div>
  </div>
</div>
