<div class="js-trial-container col-md-12" style="">
  <% previous_trials.each do |trial| %>
  <div class="row">
    <div class="col-md-12 previous-trial"><%= trial %></div>
  </div>
  <% end %>
</div>